// Defaults
@import "defaults/variables.scss";
@import "defaults/resets.scss";
@import "defaults/functions.scss";

// Components
@import "components/header.scss";
@import "components/header.scss";
@import "components/theme/buttons.scss";
@import "components/theme/icons.scss";
@import "components/theme/dropdowns.scss";
@import "components/banners.scss";
@import "components/sections.scss";
@import "components/aboutus.scss";
@import "components/news.scss";
//@import "components/weoffer.scss";
//@import "components/equipment.scss";
//@import "components/services.scss";
//@import "components/gallery.scss";
@import "components/footer.scss";
//@import "components/contactform.scss";
//@import "components/contact.scss";

// Style 
@media (min-width: map-get($breaks, "xxl")) {
    .container {
        max-width: 1440px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: map-get($breaks, "xxxl")) {
    .container-extended {
        max-width: 1680px;
        padding-left: 15px;
        padding-right: 15px;
    }
}