.theme-icon {
    background-color: var(--highlight-color2);
    border-radius: var(--button-radius);
    width: 55px;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    transition: 0.25s;
    @include flexCenter();
    svg {
        max-width: 40px;
        max-height: 40px;
        &, & > path {
            fill: var(--highlight-color);
        }
    }
}